Program/*.exe
Program/*.dll
Resource/Char/
Resource/Cursor/
Resource/Icon/
Resource/Item/
Resource/Log/
Resource/Model/
Resource/Music/
Resource/SFX/
Resource/Sound/
Resource/Theme/
Resource/Weather/
Resource/World/
Resource/- Change IP of Neuz here.cmd
Resource/**/*.exe
Resource/**/*.dll
Resource/**/*.asi
Resource/regInfo.dat
Source/**/*.i
**/error*.log
**/*.plg
Source/all/.vs/
Output/
error_*
.vs/
Resource/propItem.txt-french.txt

!Source/Libraries/
Source/Libraries/*
!Source/Libraries/sqktd/

Resource/Atools - Credits.txt
Resource/Licenses/
Resource/Plugins/